.sftpl-is-slideshow7{
	text-align: center;
	margin: auto;
	width: 100%;
	display: none;
}

.sftpl-is-slideshow7 div{
	background-color: var(--slide-bg-color);
}

.sftpl-is-slideshow7 div h4{
	font-family: sans-serif;
	font-weight: 800;
	font-size: 0.8em;
	text-align: center;
	margin: 5px;
	color:var(--slide-text-color);
}

.sftpl-is-slideshow7 div img{
	margin: 15px auto;
	height:300px

}

