{{!--
    Global Template: Recipes Slides

    @author: Juliano Polito (jpolito@salesforce.com)
    based on https://codepen.io/lgrqvst/pen/YdVLrE

    Requirements:
    1) Set the content zone(s) to that defined in your Sitemap.
    2) Have product recipes setup

    Customizations:
   


<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js">

</script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
--}}

<div class="sftpl-is-slideshow7" 
data-evg-campaign-id="{{campaign}}" 
data-evg-experience-id="{{experience}}"
data-evg-user-group="{{userGroup}}">
    {{#each rec}}
        <div>
            <!-- <a href="{{this.attributes.url.value}}"> -->
                <img src="{{this.attributes.imageUrl.value}}" 
                data-evg-item-id="{{this.id}}" 
                data-evg-item-type="{{../itemType}}" />
            <!--</a>-->
            <h4>{{this.attributes.description.value}}</h4>
            
        </div>
    {{/each}}
</div>



